// .navbar {
// 	background-color: #8841f2
// }
.navbar .site-name {
	color: #8841f2 !important
}

// .navbar .links {
// 	background-color: #8841f2 !important
// }

// .nav-links a {
// 	color: #ffffff !important
// }

// .navbar .site-name {
// 	color: #ffffff !important
// }

// .sidebar {
// 	background-color: #8841f2 !important
// }

// a.sidebar-link {
// 	color: #ffffff !important
// }